<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="[% title %]">
    <title>Wdio Image Diff Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">
      {{> cssPath}}
    </style>
  </head>
  <body>
    <div class="container">
      <div id="report-header" class="page-header"><h1>{{title}}</h1></div>
      <h2>Results</h2>
      <table>
        {{#each tests as |test|}}
          <tr>
            <td>
              <table class="table table-test">
                <tr>
                  <td colspan="2" class="test-{{test.testStatus}}">
                    {{#testStateIcon test.testStatus}}{{/testStateIcon}}
                    {{test.name}}
                  </td>
                </tr>
                {{#equal test.testStatus 'fail'}}
                  <tr class="test-row screenshot">
                    <td colspan="2">
                      <div class="row">
                        <div class="screenshot-column">
                          <h4>Baseline</h4>
                          <a href="visual-screenshots/baseline/{{test.name}}.png">
                            <img src="visual-screenshots/baseline/{{test.name}}.png" alt="Snow" style="width:100%">
                          </a>
                        </div>
                        <div class="screenshot-column">
                          <h4>Comparison</h4>
                          <a href="visual-screenshots/comparison/{{test.name}}.png">
                            <img src="visual-screenshots/comparison/{{test.name}}.png" alt="Snow" style="width:100%">
                          </a>
                        </div>
                        <div class="screenshot-column">
                          <h4>Diff</h4>
                          <a href="visual-screenshots/diff/{{test.name}}.png">
                            <img src="visual-screenshots/diff/{{test.name}}.png" alt="Snow" style="width:100%">
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {{/equal}}
              </table>
            </td>
          <tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>